.page-columns {
  grid-template-columns:
    [screen-start] 40px
    [page-start] minmax(0, 980px)
    [page-end] 360px
    [screen-end] 40px;
}

#quarto-margin-sidebar {
  width: 320px;
  margin-left: 80px;
}

main {
  max-width: 700px;
}
